<!-- views/sensor.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap">
</head>

<body>
  
  <header>
    <h1>ECOSAVER MANAGEMENT</h1>
</header>

  <nav>
    <a href="#" id="allSensorLink">All Sensor</a>
    <a href="#" id="addSensorLink">Add Sensor</a>
    <a href="#" id="updateSensorLink">Update Sensor</a>
    <a href="#" id="deleteSensorLink">Delete Sensor</a>
    <a href="/home" id="homeLink">Home</a>
  </nav>

  <main>
    <h2>Welcome to the Sensor Page</h2>
  </main>
  <div id="sensorContainer">
    <table class="nice-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Sensor Name</th>
                <th>Added By</th>
                <th>Mac Address</th>
                <th>Description</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody id="sensorTableBody"></tbody>
    </table>
</div>

<div id="createSensorForm" class="sensor-creation-container" style="display: none;">
    <h3>Add Sensor</h3>
    <div class="content">
        <form action="/api/v0/sensor/new" id="sensorForm" method="post">
            <div class="Sensor-details">
                <div class="input-box">
                    <span class="details">Sensor Name</span>
                    <input type="text" name="sensor" id="sensor" placeholder="Enter Sensor name" required>
                </div>
                <div class="input-box">
                    <span class="details">Mac Address</span>
                    <input type="text" name="macAddress" id="macAddress" placeholder="Enter the Mac Address" required>
                </div>
                <div class="input-box">
                    <span class="details">Description</span>
                    <input type="text" name="description" id="description" placeholder="Enter the description here" required>
                </div>
                <div class="input-box">
                    <span class="details">Location</span>
                    <select name="location" id="locationDropdown" required>
                    </select>
                </div>
            </div>
            <input type="hidden" name="csrf_token" value="<%= csrfToken %>">
            <div class="button">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>
<div id="additional-text4" style="display: none;">
    <div class="condition">
      <span>Conditions for creating a Sensor:</span>
      <ul>
        <li class="error">Please Remember to fill all inputs.</li>
        <li class="error">Please ensure all inputs are correct before adding</li>
      </ul>
    </div>
  </div>
  <div id="updateSensorForm" class="sensor-update-container" style="display: none;">
    <h3>Add Location</h3>
    <div class="content">
      <form action="/sensor/update" id="updateForm" method="put">
        <div class="Location-details">
          <div class="input-box">
            <span class="details">Sensor to Update</span>
            <select name="Sensor" id="sensorDropdown" required>
            </select>
        </div>
          <div class="input-box">
            <span class="details">Sensor Name</span>
            <input type="text" name="sensorname"  id="sensorname" placeholder="Enter Sensor name" required>
          </div>
          <div class="input-box">
            <span class="details">Mac Address</span>
            <input type="text" name="macAddress" id="macAddress" placeholder="Enter the Mac Address" required>
        </div>
          <div class="input-box">
            <span class="details">Description</span>
            <input type="text" name="description" id="description" placeholder="Enter the description here" required>
          </div>
        </div>
        <div class="input-box">
          <span class="details">Location</span>
          <select name="location" id="locationDropdown" required>
          </select>
      </div>
  </div>
  <input type="hidden" name="csrf_token" value="<%= csrfToken %>">
        <input type="hidden" name="csrf_token" value="<%= csrfToken %>">
        <div class="button">
          <input type="submit" value="submit">
        </div>
      </form>
    </div>
  </div>

  <div id="deleteSensorForm" class="sensor-delete-container" style="display: none;">
    <h3>Delete Location</h3>
    <div class="content">
      <form action="/sensor/delete" id="deleteForm" method="delete">
        <div class="Location-details">
          <div class="input-box">
            <span class="details">Sensor to Delete</span>
            <select name="sensor" id="sensorDropdown" required>
            </select>
        </div>
        </div>
        <input type="hidden" name="csrf_token" value="<%= csrfToken %>">
        <div class="button">
          <input type="submit" value="submit">
        </div>
      </form>
    </div>
  </div>
  <footer>
    Any Issue faced, Please contact the administrator at 11111111 or ecosaverAdmin@gmail.com
</footer>
</body>
<script>
const locationsArray = <%- JSON.stringify(locationsData) %>;
const sensorArray = <%- JSON.stringify(sensorArray) %>;
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.3/purify.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="sensor.js"></script>
</html>